.wrapper{
    width: 100px;
    justify-content: left;
}
.scheduler{
    width: 80%;
}
.tool-icon{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

